<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-game">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right">Exit</button>
				</div>
			</div>
		</nav>

	    <div class="container">
	    	
			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/house_martell.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/skills/fear.jpg" title="Fear" alt="Fear" />
							<span>754</span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/skills/wisdom.jpg" title="Wisdom" alt="Wisdom"/>
							<span>754</span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/skills/commerce.jpg" title="Commerce" alt="Commerce"/>
							<span>754</span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/skills/magic.jpg" title="Magic" alt="Magic"/>
							<span>754</span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="actions"></div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
						<img src="images/others/subjects.jpg" title="Subjects" alt="Subjects"/>
					</div>
					
					<div class="col-sm-1">
						<img src="images/others/scroll.jpg" title="Scroll" alt="Scroll"/>
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<img src="images/others/coin.jpg" title="Coin" alt="Coin"/>
						<span>25</span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>