<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="/js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="/css/style.css" rel="stylesheet">

	</head>

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="row register-top-row">
					<div class="col-xs-12">
						<form class="form-inline form-register-back" action="/">
							<div class="form-group">
								<button type="submit" class="btn btn-success">Voltar</button>
							</div>
						</form>
					</div>
				</div>				
			</div>			
		</nav>

	    <div class="container">

			<% if(validation.length) { %>
				<div class="alert alert-danger">
					<strong>Please fix the errors below</strong>
					<ul>
						<% for(var i = 0;i < validation.length; i++) { %>
						<li><%=validation[i].msg%></li>
						<% } %>
					</ul>
				</div>
			<% } %>
	    		
			<form class="form-register" action="/register/save" method="post">
			
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="name" class="col-sm-2 col-form-label">Name</label>
							<input type="name" class="form-control" id="name" name="name" placeholder="Name" value="<%=formData.name%>">
						</div>
					</div>
					
					<div class="col-xs-4">
						<div class="form-group">
							<label for="user" class="col-sm-2 col-form-label">User</label>
							<input type="user" name="user" class="form-control" id="user" placeholder="User" value="<%=formData.user%>">
						</div>
					</div>
					
					<div class="col-xs-4">
						<div class="form-group">
							<label for="password" class="col-sm-2 col-form-label">Password</label>
							<input type="password" name="password"  class="form-control" id="password" placeholder="Password"  value="<%=formData.password%>">
						</div>
					</div>
				</div>
				
				<div class="form-group row">
				
        			<div class="col-xs-2">
        				<img src="/images/house_arryn.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="arryn" <% if(formData.house == 'arryn'){ %> checked="checked" <% } %>> House Arryn
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="/images/house_baratheon.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="baratheon" <% if(formData.house == 'baratheon'){ %> checked="checked" <% } %>> House Baratheon
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="/images/house_greyjoy.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="greyjoy" <% if(formData.house == 'greyjoy'){ %> checked="checked" <% } %>> House Greyjoy
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="/images/house_lannister.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="lannister" <% if(formData.house == 'lannister'){ %> checked="checked" <% } %>> House Lannister
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="/images/house_martell.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="martell" <% if(formData.house == 'martell'){ %> checked="checked" <% } %>> House Martell
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="/images/house_stark.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="stark" <% if(formData.house == 'stark'){ %> checked="checked" <% } %>> House Stark
						</center>
        			</div>
        		</div>
				
				<div class="form-group row">
				
					<div class="col-xs-3"></div>
				
        			<div class="col-xs-2">
        				<img src="/images/house_targaryen.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="targaryen" <% if(formData.house == 'targaryen'){ %> checked="checked" <% } %>> House Targaryen
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="/images/house_tully.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="tully" <% if(formData.house == 'tully'){ %> checked="checked" <% } %>> House Tully
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="/images/house_tyrell.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="tyrell" <% if(formData.house == 'tyrell'){ %> checked="checked" <% } %>> House Tyrell
						</center>
        			</div>
					
					<div class="col-xs-3"></div>
				</div>		
				
			
				<div class="form-group row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
				</div>
				

			</form>
					
	    </div>	
		
	</body>
</html>