<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<form class="form-inline form-entrar">
					<div class="form-group">				
						<button type="button" class="btn btn-success">Voltar</button>
					</div>
				</form>
			</div>
			
		</nav>

	    <div class="container">
	    		
			<form class="form-cadastro">
			
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="name" class="col-sm-2 col-form-label">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
					</div>
					
					<div class="col-xs-4">
						<div class="form-group">
							<label for="user" class="col-sm-2 col-form-label">User</label>
							<input type="user" class="form-control" id="user" placeholder="User">
						</div>
					</div>
					
					<div class="col-xs-4">
						<div class="form-group">
							<label for="password" class="col-sm-2 col-form-label">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
					</div>
				</div>
				
				<div class="form-group row">
				
        			<div class="col-xs-2">
        				<img src="images/house_arryn.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="arryn"> House Arryn
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="images/house_baratheon.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="baratheon"> House Baratheon
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="images/house_greyjoy.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="greyjoy"> House Greyjoy
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="images/house_lannister.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="lannister"> House Lannister
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="images/house_martell.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="martell"> House Martell
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="images/house_stark.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="stark"> House Stark
						</center>
        			</div>
        		</div>
				
				<div class="form-group row">
				
					<div class="col-xs-3"></div>
				
        			<div class="col-xs-2">
        				<img src="images/house_targaryen.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="targaryen"> House Targaryen
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="images/house_tully.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="tully"> House Tully
						</center>
        			</div>
					
					<div class="col-xs-2">
        				<img src="images/house_tyrell.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="tyrell"> House Tyrell
						</center>
        			</div>
					
					<div class="col-xs-3"></div>
				</div>		
				
			
				<div class="form-group row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary">Confirm</button>
					</div>
				</div>
				

			</form>
					
	    </div>	
		
	</body>
</html>