<div id="pergaminhos">					
	<h3>Scrolls</h3>
	
	<ul>
		<li>1 ganging(s) programmed - <small> 00000 seconds remaining - <a href="#">revoke order</a></small></li>
		<li>2 subject(s) training magic - <small>00000 seconds remaining - <a href="#">revoke order</a></small></li>
		<li>1 subject(s) training history - <small>00000 seconds left - <a href="#">revoke order</a></small></li>
		<li>5 subject(s) collecting resources - <small>00000 seconds remaining - <a href="#">revoke order</a></small></li>
	</ul>
</div>