<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Notícia</h1>
        <ul>
            <li><%= news[0].id %></li>
            <li><%= news[0].title  %></li>
            <li><%= news[0].text  %></li>
            <li><%= news[0].created_at  %></li>
        </ul>
        
	</body>
</html>