html {
  height: 100%;
}
body {
  min-height: 100%;
}

.body-index{
	background: #010101;
}

.body-game{
	background: url('../images/map.gif') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

.form-login, .form-register-back {
	padding-top: 10px;
}

.form-register {
	color: #fff;
}

.form-register img{
	margin: 0 auto;
}

.sair {
	padding-top: 10px;
}

.upper-bar {
	background-color: #fff;
	padding: 15px;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.upper-bar {
	text-align:center;
}

.upper-bar span{
	display: block;
	width: 100%;
	font-weight: bold;
}

.barra-inferior {
    position: absolute;
    bottom: 0;
	width:100%;
	text-align:center;
    height: auto;
	padding:15px;
    background-color: #fff;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.barra-inferior span{
	display: block;
	width: 100%;
	font-weight: bold;
}

.completed,
.actions{
	background-color: #fff;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
	padding:15px;
}

.completed {
	margin-bottom: 10px;
}

.actions span{
	color: #333333;
}

.main_content_box{
	max-height: 180px;
	overflow: auto;
}

.house-img {
	text-align: center;
}

.casa span{
	margin-top:-20px;
	margin-left:10px;
	display: block;
	font-weight: bold;
	color:#fff;
	font-size: 15px;
}