<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(function(){

				function load_posts(){
					var xhr = new XMLHttpRequest();
					xhr.open("GET", "http://localhost:8080/api");

					xhr.onload = function() {
						if(xhr.status === 200){
							var data = $.parseJSON(xhr.responseText);
							for(i = 0; i < data.length; i++) {
								$('#container_timeline').append(
									'<div class="img-post">' +
										'<span class="title">' +
											data[i].title +
										'</span>' +
										'<img src="http://localhost:8080/images/'+data[i].image_url+'" />'+
										'<div class="comments" id="comment_list_for_' + data[i]._id + '"></div>'+
										'<div class="comment">'+
											'<input type="text" id="comment_on_'+data[i]._id+'" class="form-control comment" placeholder="Wrtie your comment">'+
											'<button class="btn btn-default btn_post_comment" type="button" value="'+data[i]._id+'">Comentar</button>'+
										'</div>'+
									'</div>'
								);

								if(data[i].comments != undefined){
									var comments = data[i].comments;

									for(j = 0; j < comments.length; j++){
										$('#comment_list_for_' + data[i]._id).append(
											'<div class="txt_comment">'+
												'<button type="button" value="' + comments[j].id_comment + '" class="btn btn-danger btn-sm  btn_remove_comment">X</button>'+
												comments[j].comment+
											'</div>'
										);
									}
								}
							}

							$('.btn_post_comment').click(function() {
								var id = this.value;
								var comment = $('#comment_on_'+id).val();
								publish_comment(id,comment);
							});

							$(".btn_remove_comment").click(function(){
								var id_comment = this.value;

								delete_comment(id_comment);
							});

						} else {
							console.log("error");
						}
					};

					xhr.send();
				}

				load_posts();

				function publish_comment(id, comment){
					var xhr = new XMLHttpRequest();
					xhr.open('PUT', 'http://localhost:8080/api/'+id);
					xhr.setRequestHeader('Content-Type', 'application/json');

					xhr.onload = function() {
						if (xhr.status === 200) {
							window.location.href = '/home';
						}
						console.log(xhr.responseText);
					}
					xhr.send(JSON.stringify({'comment':comment}));
				}

				function delete_comment(id) {
					var xhr = new XMLHttpRequest();
					xhr.open('DELETE', 'http://localhost:8080/api/' + id);

					xhr.onload = function(){
						if(xhr.status === 200){
							window.location.href = '/home';
						}
					};

					xhr.send();
				}

				$('#btn_include').click(function(){
					$('#container_timeline').hide();
					$('#container_form').show();
				});

				$('#btn-cancel-post').click(function(){
					$('#container_timeline').show();
					$('#container_form').hide();
					return false;
				});

				$('#btn-publish').click(function(){
					var formData = new FormData();
					var image_file = document.getElementById("image_file").files[0];
					var title = document.getElementById("title").value;

					formData.append("image_file", image_file);
					formData.append("title", title);

					var xhr = new XMLHttpRequest();

					xhr.onreadystatechange = function() {
						if(xhr.readyState == 4){
							var response = xhr.responseText;
							document.getElementById('message').innerHTML = response;
						}
					};

					xhr.open("POST", "http://localhost:8080/api");
					xhr.send(formData);
				});

			});
		</script>

	</head>

	<body>

		<nav class="navbar navbar-default">
			<div class="container">
				<div class="col-md-12">
					<div class="container-fluid">
						<img alt="Instagram Clone - WEB Version" src="images/logo2.jpg" class="logo2">
						<img alt="Incluir" src="images/include.jpg" class="pull-right btn-incluir" id="btn_include">						
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="container_timeline"></div>
			
		</div>


		<div class="container" style="display:none" id="container_form">
			<div class="panel panel-default">

			<div class="panel-heading"><h4>Publish new Photo</h4></div>
			
			<div class="panel-body">
				<div class="form-group">
					<input type="file" name="image_file" id="image_file" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="title" id="title" class="form-control" placeholder="Title" autocomplete="off">
				</div>

				<div class="form-group">
					<button class="btn btn-success" id="btn-publish">Publish</button>
					<button class="btn btn-danger" id="btn-cancel-post">Cancel</button>
				</div>
				<div id="message"></div>
			</div>
		</div>
	</body>
</html>