body{
	background: #FAFAFA;
}

.img-center {
	margin:0 auto;
}

.btn-primary{
	background-color: #3897f0;
	border-color: #3897f0;
}

.btn-login{
	width: 100%;
	font-weight: bold;
}

.painel-login{
	padding-top: 60px;
}

.home{
	padding-top: 30px;
}

.navbar-default{
	background: #fff;
}

.logo2{
	padding-left:50px;
}

.btn-incluir{
	padding-top: 25px;
}

#div_incluir{
	width:70%;
	position:absolute;
	top: 150px;
    left: 15%;
	z-index:9900;
}

#div_incluir panel{
	background: #FAFAFA;
}

.img-post{
	border:solid 1px #EFEFEF;
	margin-bottom:50px;
	text-align: center;
}

.img-post .title{
	background-color: #FFF;
	padding-left:30px;
	padding-top:15px;
	padding-bottom:15px;
	display:block;
	font-weight: bold;
	text-align: left;
}

.img-post img{
	max-width: 100%;
	border-top:solid 1px #EFEFEF;
	border-bottom:solid 1px #EFEFEF;
}

.comment{
	padding:20px;
	box-shadow: none;
	margin-bottom:10px;
}

.comments{
	text-align: left;
	background:#FFF;
	border-bottom: solid 1px #EFEFEF;
}

.txt_comment{
	display: block;
	width:100%;
	padding:20px;
}

.txt_comment:nth-child(even) {
	background-color: #F0F0F0;
}

.btn_remove_comment{
	text-decoration: none;
	color: #000000;
	border:none;
	margin-right: 10px;
}